doctype html
html
  head
    title Workshop Node + Express

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    .navbar.navbar-default
      .container
        ul.nav.navbar-nav
          li
            a(href="/") Management System
          li
            a(href="/todolist") Todo
    .container
      block content

    block footer
      .footer
        .container
          p.text-muted HU Workshop - Node + Express
