extends layout

block content
      h1 Simple TodoList in Express

      .container
          ul
            each val, index in todoList
              li
                a(class="btn btn-lg btn-success" href='/todolist?id=#{index}') Delete | #{val}


        form(action='/todolist' method='post')
          .form-group
            input.form-control(type='text', name="todoitem", placeholder="Dingen om te onthouden")

          button.btn.btn-lg.btn-success(type='submit') Add Todo
